version: 2

updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
      - ".github/actions/Docker"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "uv"
    directories:
      - "apiserver"
      - "novel"
      - "shadowgate"
      - "telebot"
      - "template"
    schedule:
      interval: "monthly"
    groups:
      python-dependencies:
        patterns:
          - "*"
